{{>navbar}}
<div class="container">
  {{#if success}}
  <div class="alert alert-success col-6 mx-auto position-fixed h-10 opacity-5 text-center z-index-n1 w-100">
    {{success}}
  </div>
  {{/if}}
  {{#if error}}
  <div class="alert alert-danger col-6 mx-auto position-fixed h-10 opacity-5 text-center z-index-n1 w-100">
    {{error}}
  </div>
  {{/if}}
</div>
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                    <div class="card-thumbnail">
                        <a href="/farmer/product/{{id}}">
                        <img src='../../{{imageUrl}}' class="img-fluid image" alt="thumbnail"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="#" class="text-secondary">₦ {{price}}</a></h3>
                        <p class="card-text">{{description}}</p>
                        <a class="btn btn-success inline" href="/farmer/product/{{id}}">Edit</a>
                        <a class="btn btn-success" href="/farmer/product/{{id}}/delete">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
 
                        