{{>navbar}}
<div class="container">
  {{#if success}}
  <div class="alert alert-success col-6 mx-auto position-fixed h-10 opacity-5 text-center z-index-n1 w-100">
    {{success}}
  </div>
  {{/if}}
  {{#if error}}
  <div class="alert alert-danger col-6 mx-auto position-fixed h-10 opacity-5 text-center z-index-n1 w-100">
    {{error}}
  </div>
  {{/if}}
</div>
<div class="container mt-5 mb-5">
    <div class="card" id="product-img">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image">
                    <img src="http://localhost:8080/{{imageUrl}}" class="img-fluid" alt="thumbnail"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{name}}</h3>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>{{description}}</p>
                    </div>
                    <h3>₦{{price}}</h3>
                    <div class="buttons d-flex flex-row mt-5 gap-4">
                        <a href="/" class="btn btn-success text-center">Shop</a>
                        <form action="/cart/add/{{id}}" method="POST">
                         <button class="btn btn-success" type="submit">Add to Cart</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

